<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Home Page</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li> <a class="nav-bar-item" href="/about">About</a> </li>
          <li> <a class="nav-bar-item" href="/works">Works</a> </li>
          <li> <a class="nav-bar-item" href="/gallery">Gallery</a> </li>
        </ul>
      </nav>
      <header class="header">
          <h1>Konstantinos Alexis</h1>
          <h2>Photographer</h2>
      </header>
</body>
</html>